<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Monitoring the JVM</title>
  </head>
<body>

<div class="code_block">
<div class="code_header">/response-times.R</div>
<%= `cat response-times.R | ./extract_region.rb read-table | grep --invert-match "region" | pygmentize -l r -f html` %>
</div>

[<img src="https://raw.github.com/andreassimon/blog-performance-reporting-with-R/master/quantiles.scaled.png" />](https://raw.github.com/andreassimon/blog-performance-reporting-with-R/master/quantiles.png)

As always, the sources are available via [GitHub](https://github.com/andreassimon/blog-performance-reporting-with-R).

## References:

 - [Advanced graphs](http://www.statmethods.net/advgraphs/index.html)
 - [Intermediate plotting](http://www.cyclismo.org/tutorial/R/intermediatePlotting.html)
 - [An Introduction to R](http://cran.r-project.org/doc/manuals/r-release/R-intro.html#The-class-of-an-object)
 - [Kickstarting R &mdash; Plotting data &ndash; point/line graphs](http://cran.r-project.org/doc/contrib/Lemon-kickstart/kr_ptline.html)
 - [R color names](http://www.stat.columbia.edu/~tzheng/files/Rcolor.pdf)
 - [R data import/export](http://cran.r-project.org/doc/manuals/R-data.html)
 - [The R Graphics cookbook](http://www.cookbook-r.com/Graphs/)
 - [Coloring plots by node attributes](http://www2.warwick.ac.uk/fac/sci/moac/people/students/peter_cock/r/iris_plots/)

</body>
</html></p>

<!--
  vim:ft=markdown
-->
